#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.flight-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25em;
  margin: 2em;
  font-size: 1.4rem;
}

#flight-input {
  width: 100%;
  padding: 5px 5px;
  font-size: 1.2rem;
}

.light {
  background-color: white;
}

.dark {
  background-color: #000a26;
  color: white;
}

.light__button {
  border-color: gainsboro;
  background-color: white;
}

.dark__button {
  border-color: darkblue;
  background-color: black;
  color: white;
}

/* The track */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Track slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fef9ab;
  transition: 0.4s;
  border-radius: 34px;
}

/* The moving handle (circle) */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* When the checkbox is checked, change track color */
input:checked+.slider {
  background-color: #5c87ff;
}

/* When checked, slide handle right */
input:checked+.slider:before {
  transform: translateX(26px);
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}